# TeamBM5

<a id="cont"></a>

## Table of Content

<a href=#one>1. Introduction</a>

<a href=#two>2. Importing Libraries</a>

<a href=#three>3. Comet</a>

<a href=#four>4. Loading and inspecting the data</a>

<a href=#five>5. Exploratory Data Analysis</a>

<a href=#six>6. Data Preprocessing</a>

<a href=#seven>7. Feature Engineering</a>

<a href=#eight>8. Model Training and Evaluation</a>

<a href=#nine>9. Model Testing</a>

<a href=#ten>10. Saving The Model For Kaggle Submission</a>

<a href=#eleven>11. Saving The Models For Streamlit App</a>

<a href=#twelve>12. Conclusion</a>

<a href=#thirteen>13 Recommendations</a>

<a href=#fourteen>14. Reference Links</a>

 <a id="one"></a>
## 1. Introduction 
<a href=#cont>Back to Table of Contents</a>

<a id="two"></a>
## 2. Importing Libraries
<a href=#cont>Back to Table of Content

In [2]:
import pandas as pd

<a id="three"></a>
## 3. Comet
<a href=#cont>Back to Table of Contents</a>

<a id="four"></a>
## 4. Loading and inspecting the data
<a href=#cont>Back to Table of Contents

In [4]:
train_df = pd.read_csv("dataset/train.csv")
train_df.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [5]:
test_df = pd.read_csv("dataset/test.csv")
test_df.head()

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318

In [6]:
tags_df = pd.read_csv("dataset/tags.csv")
tags_df.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [8]:
genome_scores_df = pd.read_csv("dataset/genome_scores.csv")
genome_scores_df.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [10]:
genome_tags_df = pd.read_csv("dataset/genome_tags.csv")
genome_tags_df.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [12]:
imdb_df = pd.read_csv("dataset/imdb_data.csv")
imdb_df.head()

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,"$16,000,000",black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,"$30,000,000",fatherhood|doberman|dog|mansion

In [13]:
links_df = pd.read_csv("dataset/links.csv")
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [14]:
movies_df = pd.read_csv("dataset/movies.csv")
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

<a id="five"></a>
## 5. Exploratory Data Analysis
<a href=#cont>Back to Table of Contents</a>

<a id="six"></a>
## 6. Data Preprocessing
<a href=#cont>Back to Table of Contents</a>

<a id="seven"></a>
## 7. Feature Engineering
<a href=#cont>Back to Table of Contents</a>

<a id="eight"></a>
## 8. Model Training and Evaluation
<a href=#cont>Back to Table of Contents</a>

<a id="nine"></a>
## 9. Model Testing
<a href=#cont>Back to Table of Contents</a>

<a id="ten"></a>
## 10. Saving Model for Kaggle Submission
<a href=#cont>Back to Table of Contents</a>

<a id="eleven"></a>
## 11. Saving Model for Streamlit App
<a href=#cont>Back to Table of Contents</a>

<a id="twelve"></a>
## 12. Conclusion
<a href=#cont>Back to Table of Contents</a>

<a id="thirteen"></a>
## 13. Recommendations
<a href=#cont>Back to Table of Contents</a>

<a id="fourteen"></a>
## 14. Reference Links
<a href=#cont>Back to Table of Contents</a>